body{
    margin:0;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    animation: normal;
}
#addBook{
    background-color: rgb(31, 24, 92);
    color: white;
    border-radius: 20px;
    border-style: none;
    height: 40px;
    grid-column: 2;
}
#addbook:hover{
    background-color: darkblue;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#group{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top:0;
    right: 0;
}
#close-button{
    background-color: white;
    border: none;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    outline: none;
}

input{
    appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

input[type = "checkbox"]{
    appearance: auto;
    color: black;
    margin: 3%;
}

#confirm{
    height: 25px;
    width: 25px;
}
dialog{
    background-color: lightgray;
    min-width: 200px;
    border-width: 1px;
    border-color: black;
}
.card{
    color: black;
    background-color: lightgray;
    min-height: 200px;
    min-width: 200px;
    max-height: 300px;
    max-width: 300px;
    margin:20px;
    border-radius: 15px;
    align-content: center;
    justify-items: center;
    text-align: center;
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.author{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}
.title{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.remove-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rm-button{
    border-radius: 50%;
    font-weight: 800;
    color: mediumvioletred;
    border-style: none;
    width: 25px;
    height: 25px;
}
.pages-container{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.read-container{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-button{
    height: 25px;
    width: 25px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    border-radius: 10px;
}
.read-flag{
    height: 25px;
    width: 25px;
}
.mainPage{
    display: grid;
}

.error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  .error.active {
    padding: 0.3em;
  }

  input:invalid {
    border-color: #900;
    background-color: #fdd;
  }